body {
    background-color: var(--background-base);
    color: var(--text-base);
    font-family: var(--font-family,var(--fallback-fonts,sans-serif));
    margin:0;
}

.page {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    width:100%;
}
.pageHeader {
    
    display:flex;
    flex-direction: row;
    align-items: center;
}

.content {
    padding:30px;
    flex:1;
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
}
.contentTitle {
    font-size: larger;
    font-weight: bold;
}

.iconButton {
    cursor: pointer;
}
.iconButton:hover {
    color:var(--essential-bright-accent)
}