
<link rel="stylesheet" href="/css/navbar.css" />
<div class="navbar">
    <img src="/images/logo-placeholder-image.png" class="navBarLogo" />
    <div class="navBarControls">
        <div class="navBarControls_option">Listen</div>
        <div class="navBarControls_option active">Produce</div>
        <div class="navBarControls_option">DJ</div>
    </div>
</div>